@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes breathe {
  0% {
    transform: scale(1);
    opacity: 0.85;
  }
  50% {
    transform: scale(1.12);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.85;
  }
}

.animate-breathe {
  animation: breathe 6s ease-in-out infinite;
}
